.explore-banner{height:auto;margin:32px 0;display:flex;align-items:center;width:100%;position:relative;z-index:1}
@media (min-width: 768px) {
.explore-banner{height:450px;margin-bottom:32px}
}
.explore-banner .explore-banner-image{position:absolute;opacity:.25;right:0;top:0;height:300px;z-index:-1;}
@media (min-width: 768px) {
.explore-banner .explore-banner-image{display:inherit;height:400px;top:0;opacity:.5}
}
@media (min-width: 992px) {
.explore-banner .explore-banner-image{height:500px;top:-50px;opacity:1}
}
.explore-banner .explore-banner-text{max-width:550px;float:left}
.explore-banner .explore-banner-text h1{font-family:'Droid Sans';color:#ec171b;font-size:3rem;font-weight:1000;letter-spacing:1px;margin-bottom:1rem;}
.explore-banner .explore-banner-text p{color:#000;font-size:1.05rem;line-height:1.75}
.explore-banner button{border:0;border-radius:50px;padding:.75rem 2.75rem;margin-top:10px;background:#ec171b;color:#fff;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.25);cursor:pointer;position:relative;font-size:1rem;font-weight:400;letter-spacing:1px;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.explore-banner button:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);-o-transform:translateY(-5px);transform:translateY(-5px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.25)}
.mb-30{margin-bottom:30px}
.explore-card{padding:16px 24px;background:#fff;height:100%;position:relative;border:none;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.15);border:2px solid transparent;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;z-index:10;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.explore-card h3.explore-card-title{font-weight:700;font-size:1.3rem;color:var(--darkPurple);}
.explore-card p{color:#989dc5;font-size:1rem;line-height:1.5;margin-bottom:72px}
.explore-card .explore-card-link{position:absolute;bottom:18px}
.explore-card:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.15);cursor:pointer}
.explore-card .explore-card-icon{width:60px;margin-bottom:8px;position:relative;top:0;left:-12px}
.explore-card .explore-card-icon-w100{width:100%;margin-bottom:0;position:relative;top:0;left:0}
.explore-buttons-coll{position:absolute;bottom:18px;text-align:center}
.custom-explore-btn{padding:10px 25px;font-family:"Roboto",sans-serif;font-weight:500;background:transparent;outline:none!important;cursor:pointer;transition:all .3s ease;position:relative;display:inline-block}
.explore-btn-1{border:2px solid #00106a}
.explore-btn-1:hover{background:#00106a;color:#fff}
.explore-btn-1:active{top:2px}
.explore-btn-2{border:none;border-bottom:2px solid #00106a;border-left:2px solid #00106a}
.explore-btn-2:before,.explore-btn-2:after{position:absolute;content:"";right:0;top:0;background:#00106a;transition:all .3s ease}
.explore-btn-2:before{height:0;width:2px}
.explore-btn-2:after{width:0;height:2px}
.explore-btn-2:hover:before{height:100%}
.explore-btn-2:hover:after{width:100%}
.explore-btn-3{width:130px;height:40px;line-height:42px;padding:0;border:none}
.explore-btn-3 span{position:relative;display:block;width:100%;height:100%}
.explore-btn-3:before,.explore-btn-3:after{position:absolute;content:"";right:0;top:0;background:#00106a;transition:all .3s ease}
.explore-btn-3:before{height:0;width:2px}
.explore-btn-3:after{width:0;height:2px}
.explore-btn-3:hover:before{height:100%}
.explore-btn-3:hover:after{width:100%}
.explore-btn-3 span:before,.explore-btn-3 span:after{position:absolute;content:"";left:0;bottom:0;background:#00106a;transition:all .3s ease}
.explore-btn-3 span:before{width:2px;height:0}
.explore-btn-3 span:after{width:0;height:2px}
.explore-btn-3 span:hover:before{height:100%}
.explore-btn-3 span:hover:after{width:100%}
.explore-btn-4{width:130px;height:40px;line-height:42px;padding:0;border:none}
.explore-btn-4 span{position:relative;display:block;width:100%;height:100%}
.explore-btn-4:before,.explore-btn-4:after{position:absolute;content:"";right:0;top:0;background:#00106a;transition:all .3s ease}
.explore-btn-4:before{height:50%;width:2px}
.explore-btn-4:after{width:20%;height:2px}
.explore-btn-4:hover:before{height:100%}
.explore-btn-4:hover:after{width:100%}
.explore-btn-4 span:before,.explore-btn-4 span:after{position:absolute;content:"";left:0;bottom:0;background:#00106a;transition:all .3s ease}
.explore-btn-4 span:before{width:2px;height:50%}
.explore-btn-4 span:after{width:20%;height:2px}
.explore-btn-4 span:hover:before{height:100%}
.explore-btn-4 span:hover:after{width:100%}
.explore-btn-5{width:130px;height:40px;line-height:42px;padding:0;border:none}
.explore-btn-5 span{position:relative;display:block;width:100%;height:100%}
.explore-btn-5:before,.explore-btn-5:after{position:absolute;content:"";right:0;bottom:0;background:#00106a;transition:all .3s ease}
.explore-btn-5:before{height:50%;width:2px}
.explore-btn-5:after{width:20%;height:2px}
.explore-btn-5:hover:before{height:100%}
.explore-btn-5:hover:after{width:100%}
.explore-btn-5 span:before,.explore-btn-5 span:after{position:absolute;content:"";left:0;top:0;background:#00106a;transition:all .3s ease}
.explore-btn-5 span:before{width:2px;height:50%}
.explore-btn-5 span:after{width:20%;height:2px}
.explore-btn-5 span:hover:before{height:100%}
.explore-btn-5 span:hover:after{width:100%}
.explore-btn-6{width:130px;height:40px;line-height:42px;padding:0;border:none}
.explore-btn-6 span{position:relative;display:block;width:100%;height:100%}
.explore-btn-6:before,.explore-btn-6:after{position:absolute;content:"";height:0;width:2px;background:#00106a}
.explore-btn-6:before{right:0;top:0;transition:all .1s ease}
.explore-btn-6:after{left:0;bottom:0;transition:all .1s .2s ease}
.explore-btn-6:hover:before{transition:all .1s .2s ease;height:100%}
.explore-btn-6:hover:after{transition:all .1s ease;height:100%}
.explore-btn-6 span:before,.explore-btn-6 span:after{position:absolute;content:"";background:#00106a}
.explore-btn-6 span:before{left:0;top:0;width:0;height:2px;transition:all .1s .1s ease}
.explore-btn-6 span:after{left:0;bottom:0;width:100%;height:2px}
.explore-btn-6 span:hover:before{width:100%}
.explore-btn-7{border:2px solid #00106a;transition:all .3s ease;background:#f2f2f2}
.explore-btn-7:before{position:absolute;content:" ";z-index:-1;width:25%;top:50%;left:-15%;height:2px;background:#00106a;transition:all .3s ease}
.explore-btn-7:hover{background:#00106a;color:#fff;border-color:#00106a;padding-left:30px;padding-right:20px}
.explore-btn-7:hover:before{left:-10%}
.explore-btn-8{padding-left:30px;padding-right:20px;background:#f2f2f2;border:2px solid #00106a;transition:all .3s ease}
.explore-btn-8:before{position:absolute;content:" ";z-index:-1;width:25%;top:50%;left:-10%;height:2px;background:#00106a;transition:all .3s ease}
.explore-btn-8:hover{background:#00106a;color:#fff;border-color:transparent;padding-left:25px;padding-right:25px}
.explore-btn-8:hover:before{left:-15%}
.explore-btn-9{background:#f2f2f2;border:2px solid #00106a;transition:all .3s ease}
.explore-btn-9:before,.explore-btn-9:after{position:absolute;content:" ";z-index:-1;width:25%;top:50%;height:2px;background:#00106a;transition:all .3s ease}
.explore-btn-9:before{left:-10%}
.explore-btn-9:after{right:-10%}
.explore-btn-9:hover{background:#00106a;color:#fff}
.explore-btn-9:hover:before{left:-15%}
.explore-btn-9:hover:after{right:-15%}
.explore-btn-10{background:#f2f2f2;border:2px solid #00106a;transition:all .3s ease}
.explore-btn-10:before,.explore-btn-10:after{position:absolute;content:" ";z-index:-1;width:25%;top:50%;height:2px;background:#00106a;transition:all .3s ease}
.explore-btn-10:before{left:-15%}
.explore-btn-10:after{right:-15%}
.explore-btn-10:hover{background:#00106a;color:#fff}
.explore-btn-10:hover:before{left:-10%}
.explore-btn-10:hover:after{right:-10%}
.explore-btn-11{background:#f2f2f2;border:2px solid #00106a;transition:all .3s ease}
.explore-btn-11:before,.explore-btn-11:after{position:absolute;content:" ";z-index:-1;width:25%;top:50%;height:2px;background:#00106a;transition:all .3s ease}
.explore-btn-11:before{left:-10%}
.explore-btn-11:after{right:-10%}
.explore-btn-11:hover{background:#00106a;color:#fff}
.explore-btn-11:hover:before{left:0}
.explore-btn-11:hover:after{right:0}
.explore-btn-12{border:2px solid #00106a;z-index:1}
.explore-btn-12:after{position:absolute;content:"";width:100%;height:0;bottom:0;left:0;z-index:-1;background:#00106a;transition:all .3s ease}
.explore-btn-12:hover{color:#fff}
.explore-btn-12:hover:after{top:0;height:100%}
.explore-btn-12:active{top:2px}
.explore-btn-13{border:2px solid #00106a;z-index:1}
.explore-btn-13:after{position:absolute;content:"";width:100%;height:0;top:0;left:0;z-index:-1;background:#00106a;transition:all .3s ease}
.explore-btn-13:hover{color:#fff}
.explore-btn-13:hover:after{top:auto;bottom:0;height:100%}
.explore-btn-13:active{top:2px}
.explore-btn-14{border:2px solid #00106a;z-index:1}
.explore-btn-14:after{position:absolute;content:"";width:0;height:100%;top:0;right:0;z-index:-1;background:#00106a;transition:all .3s ease}
.explore-btn-14:hover{color:#fff}
.explore-btn-14:hover:after{left:0;width:100%}
.explore-btn-14:active{top:2px}
.explore-btn-15{border:2px solid #00106a;z-index:1}
.explore-btn-15:after{position:absolute;content:"";width:0;height:100%;top:0;left:0;direction:rtl;z-index:-1;background:#00106a;transition:all .3s ease}
.explore-btn-15:hover{color:#fff}
.explore-btn-15:hover:after{left:auto;right:0;width:100%}
.explore-btn-15:active{top:2px}
