.post-title{margin-bottom:10px}
#comments{padding-top:0}
@media screen and(min-width:240px){.in-lefter{margin:0 2px}}
@media screen and(min-width:320px){.in-lefter{margin:0 10px}}
.post-body h2{font-size:24px;line-height:30px;margin:8px 0}
.post-body h3{font-size:20px;line-height:26px;margin:8px 0}
header{background-image:url(&#39;&quot;https://andaiminhgroup.github.io/images/header_gradient_shade.png&quot;&#39;)}
#header h1 a,#header h2 a,.menu-left a{color:#da1333}
#header h1 a:hover,#header h2 a:hover{color:#DC143C}
.menu-left a:hover:before,.nav-toggle span{background:#DC143C}
