.admg-banners{height:auto;margin:32px 0;display:flex;align-items:center;width:100%;position:relative;z-index:1}
@media (min-width: 768px) {
.admg-banners{height:450px;margin-bottom:32px}
}
.admg-banners .admg-banners-image{position:absolute;opacity:.25;right:0;top:0;height:300px;z-index:-1}
@media (min-width: 768px) {
.admg-banners .admg-banners-image{display:inherit;height:400px;top:0;opacity:.5}
}
@media (min-width: 992px) {
.admg-banners .admg-banners-image{height:500px;top:-50px;opacity:1}
}
.admg-banners .admg-banners-text{max-width:550px;float:left}
.admg-banners .admg-banners-text h1{color:#ec171b;font-size:3rem;font-weight:700;letter-spacing:3px;margin-bottom:1rem;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;border-radius: 5px;}
.admg-banners .admg-banners-text p{color:#fff;font-size:1.05rem;line-height:1.75}
.admg-banners button{border:0;border-radius:50px;padding:.75rem 2.75rem;margin-top:10px;background:#ec171b;color:#fff;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.25);cursor:pointer;position:relative;font-size:1rem;font-weight:400;letter-spacing:1px;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.admg-banners button:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);-o-transform:translateY(-5px);transform:translateY(-5px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.25)}
.mb-30{margin-bottom:30px}
.admg-cards{padding:16px 24px;background:#fff;height:100%;position:relative;border:none;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.15);border:2px solid transparent;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;z-index:10}
.admg-cards h3.admg-cards-title{font-weight:700;font-size:1.3rem;color:#ec171b}
.admg-cards p{color:#989dc5;font-size:1rem;line-height:1.5;margin-bottom:72px}
.admg-cards .admg-cards-link{position:absolute;bottom:18px}
.admg-cards:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.15);cursor:pointer}
.admg-cards .admg-cards-icon{width:60px;margin-bottom:8px;position:relative;top:0;left:-12px}
.admg-buttons-coll{position:absolute;bottom:18px;text-align:center}
.custom-admg-btn{padding:10px 25px;font-family:"Roboto",sans-serif;font-weight:500;background:transparent;outline:none!important;cursor:pointer;transition:all .3s ease;position:relative;display:inline-block}
.admg-btn-3{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-btn-3 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-btn-3:before,.admg-btn-3:after{position:absolute;content:"";right:0;top:0;background:#ec171b;transition:all .3s ease}
.admg-btn-3:before{height:0;width:2px}
.admg-btn-3:after{width:0;height:2px}
.admg-btn-3:hover:before{height:100%}
.admg-btn-3:hover:after{width:100%}
.admg-btn-3 span:before,.admg-btn-3 span:after{position:absolute;content:"";left:0;bottom:0;background:#ec171b;transition:all .3s ease}
.admg-btn-3 span:before{width:2px;height:0}
.admg-btn-3 span:after{width:0;height:2px}
.admg-btn-3 span:hover:before{height:100%}
.admg-btn-3 span:hover:after{width:100%}
.admg-btn-4{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-btn-4 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-btn-4:before,.admg-btn-4:after{position:absolute;content:"";right:0;top:0;background:#ec171b;transition:all .3s ease}
.admg-btn-4:before{height:50%;width:2px}
.admg-btn-4:after{width:20%;height:2px}
.admg-btn-4:hover:before{height:100%}
.admg-btn-4:hover:after{width:100%}
.admg-btn-4 span:before,.admg-btn-4 span:after{position:absolute;content:"";left:0;bottom:0;background:#ec171b;transition:all .3s ease}
.admg-btn-4 span:before{width:2px;height:50%}
.admg-btn-4 span:after{width:20%;height:2px}
.admg-btn-4 span:hover:before{height:100%}
.admg-btn-4 span:hover:after{width:100%}
.admg-btn-6{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-btn-6 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-btn-6:before,.admg-btn-6:after{position:absolute;content:"";height:0;width:2px;background:#ec171b}
.admg-btn-6:before{right:0;top:0;transition:all .1s ease}
.admg-btn-6:after{left:0;bottom:0;transition:all .1s .2s ease}
.admg-btn-6:hover:before{transition:all .1s .2s ease;height:100%}
.admg-btn-6:hover:after{transition:all .1s ease;height:100%}
.admg-btn-6 span:before,.admg-btn-6 span:after{position:absolute;content:"";background:#ec171b}
.admg-btn-6 span:before{left:0;top:0;width:0;height:2px;transition:all .1s .1s ease}
.admg-btn-6 span:after{left:0;bottom:0;width:100%;height:2px}
.admg-btn-6 span:hover:before{width:100%}      
.admg-btn-14{border:2px solid #ec171b;z-index:1}
.admg-btn-14:after{position:absolute;content:"";width:0;height:100%;top:0;right:0;z-index:-1;background:#ec171b;transition:all .3s ease}
.admg-btn-14:hover{color:#fff}
.admg-btn-14:hover:after{left:0;width:100%}
.admg-btn-14:active{top:2px}

hr{margin:30px 20px;border-top:2px solid #1C1E26;border-bottom:2px solid #38404D}
#customers{font-family:Roboto,sans-serif;border-collapse:collapse;width:100%}
#customers td,#customers th{border:1px solid #000;padding:8px;font-size:16px}
#customers tr:nth-child(even){background-color:#f2f2f2}
#customers tr:hover{background-color:#ddd}
#customers th{padding-top:12px;padding-bottom:12px;text-align:left;background-color:#4CAF50;color:#fff}
.accordion{margin:auto;width:100%}
.accordion input{display:none}
.box{position:relative;background:#fff;height:64px;transition:all .4s ease-in-out}
.box::before{content:'';position:absolute;display:block;top:0;bottom:0;left:0;right:0;pointer-events:none;box-shadow:0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)}
header.box{background-image:linear-gradient(to right,blue,purple);z-index:100;cursor:initial;box-shadow:0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24)}
.box:hover{background-color:#f5f5f5}
header .box-title{margin:0;font-weight:400;font-size:16pt;color:#fff;cursor:initial}
.box-title{width:calc(100% - 40px);height:64px;line-height:64px;padding:0 20px;display:inline-block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.box-content{width:calc(100% - 40px);padding:30px 20px;font-size:11pt;color:rgba(0,0,0,.54);display:none}
.box-close{position:absolute;height:64px;width:100%;top:0;left:0;cursor:pointer;display:none}
input:checked+.box{height:auto;margin:16px 0;box-shadow:0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)}
input:checked+.box .box-title{border-bottom:1px solid rgba(0,0,0,.18)}
input:checked+.box .box-content,input:checked+.box .box-close{display:inline-block}
.arrows section .box-title{padding-left:44px;width:calc(100% - 64px)}
.arrows section .box-title:before{position:absolute;display:block;content:'\203a';font-size:18pt;left:20px;top:-2px;transition:transform .25s ease-in-out;color:rgba(0,0,0,.54)}
input:checked+section.box .box-title:before{transform:rotate(90deg)}
