.admg-home-banners{height:auto;margin:32px 0;display:flex;align-items:center;width:100%;position:relative;z-index:1}
@media (min-width: 768px) {
.admg-home-banners{height:450px;margin-bottom:32px}
}
.admg-home-banners .admg-home-banners-image{position:absolute;opacity:.25;right:0;top:0;height:300px;z-index:-1}
@media (min-width: 768px) {
.admg-home-banners .admg-home-banners-image{display:inherit;height:400px;top:0;opacity:.5}
}
@media (min-width: 992px) {
.admg-home-banners .admg-home-banners-image{height:500px;top:-50px;opacity:1}
}
.admg-home-banners .admg-home-banners-text{max-width:550px;float:left}
.admg-home-banners .admg-home-banners-text h1{color:#ec171b;font-size:3rem;font-weight:700;letter-spacing:3px;margin-bottom:1rem;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;border-radius: 5px;}
.admg-home-banners .admg-home-banners-text p{color:#000;font-size:1.05rem;line-height:1.75}
.admg-home-banners button{border:0;border-radius:50px;padding:.75rem 2.75rem;margin-top:10px;background:#ec171b;color:#fff;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.25);cursor:pointer;position:relative;font-size:1rem;font-weight:400;letter-spacing:1px;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.admg-home-banners button:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);-o-transform:translateY(-5px);transform:translateY(-5px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.25)}
.mb-30{margin-bottom:30px}
.admg-home-cards{padding:16px 24px;background:#fff;height:100%;position:relative;border:none;box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.15);border:2px solid transparent;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;z-index:10}
.admg-home-cards h3.admg-home-cards-title{font-weight:700;font-size:1.3rem;color:#ec171b}
.admg-home-cards p{color:#989dc5;font-size:1rem;line-height:1.5;margin-bottom:72px}
.admg-home-cards .admg-home-cards-link{position:absolute;bottom:18px}
.admg-home-cards:hover{-webkit-transform:translateY(-5px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px);box-shadow:0 1rem 1.5rem rgba(0,0,0,0.15);cursor:pointer}
.admg-home-cards .admg-home-cards-icon{width:60px;margin-bottom:8px;position:relative;top:0;left:-12px}
.admg-home-buttons-coll{position:absolute;bottom:18px;text-align:center}
.custom-admg-home-btn{padding:10px 25px;font-family:"Roboto",sans-serif;font-weight:500;background:transparent;outline:none!important;cursor:pointer;transition:all .3s ease;position:relative;display:inline-block}
.admg-home-btn-3{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-home-btn-3 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-home-btn-3:before,.admg-home-btn-3:after{position:absolute;content:"";right:0;top:0;background:#ec171b;transition:all .3s ease}
.admg-home-btn-3:before{height:0;width:2px}
.admg-home-btn-3:after{width:0;height:2px}
.admg-home-btn-3:hover:before{height:100%}
.admg-home-btn-3:hover:after{width:100%}
.admg-home-btn-3 span:before,.admg-home-btn-3 span:after{position:absolute;content:"";left:0;bottom:0;background:#ec171b;transition:all .3s ease}
.admg-home-btn-3 span:before{width:2px;height:0}
.admg-home-btn-3 span:after{width:0;height:2px}
.admg-home-btn-3 span:hover:before{height:100%}
.admg-home-btn-3 span:hover:after{width:100%}
.admg-home-btn-4{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-home-btn-4 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-home-btn-4:before,.admg-home-btn-4:after{position:absolute;content:"";right:0;top:0;background:#ec171b;transition:all .3s ease}
.admg-home-btn-4:before{height:50%;width:2px}
.admg-home-btn-4:after{width:20%;height:2px}
.admg-home-btn-4:hover:before{height:100%}
.admg-home-btn-4:hover:after{width:100%}
.admg-home-btn-4 span:before,.admg-home-btn-4 span:after{position:absolute;content:"";left:0;bottom:0;background:#ec171b;transition:all .3s ease}
.admg-home-btn-4 span:before{width:2px;height:50%}
.admg-home-btn-4 span:after{width:20%;height:2px}
.admg-home-btn-4 span:hover:before{height:100%}
.admg-home-btn-4 span:hover:after{width:100%}
.admg-home-btn-6{width:130px;height:40px;line-height:42px;padding:0;border:none}
.admg-home-btn-6 span{position:relative;display:block;width:100%;height:100%;color:#ec171b}
.admg-home-btn-6:before,.admg-home-btn-6:after{position:absolute;content:"";height:0;width:2px;background:#ec171b}
.admg-home-btn-6:before{right:0;top:0;transition:all .1s ease}
.admg-home-btn-6:after{left:0;bottom:0;transition:all .1s .2s ease}
.admg-home-btn-6:hover:before{transition:all .1s .2s ease;height:100%}
.admg-home-btn-6:hover:after{transition:all .1s ease;height:100%}
.admg-home-btn-6 span:before,.admg-home-btn-6 span:after{position:absolute;content:"";background:#ec171b}
.admg-home-btn-6 span:before{left:0;top:0;width:0;height:2px;transition:all .1s .1s ease}
.admg-home-btn-6 span:after{left:0;bottom:0;width:100%;height:2px}
.admg-home-btn-6 span:hover:before{width:100%}      
.admg-home-btn-14{border:2px solid #ec171b;z-index:1}
.admg-home-btn-14:after{position:absolute;content:"";width:0;height:100%;top:0;right:0;z-index:-1;background:#ec171b;transition:all .3s ease}
.admg-home-btn-14:hover{color:#fff}
.admg-home-btn-14:hover:after{left:0;width:100%}
.admg-home-btn-14:active{top:2px}
